<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net452" />
  <package id="Revit.RevitApi.x64" version="2019.0.0" targetFramework="net452" />
  <package id="Revit.RevitApiUI.x64" version="2019.0.0" targetFramework="net452" />
  <package id="RevitApi2019" version="19.2.20.24" targetFramework="net471" />
</packages>